In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB 660.6 kB/s eta 0:00:24
   ---------------------------------------- 0.1/15.4 MB 656.4 kB/s eta 0:00:24
   ---------------------------------------- 0.1/15.4 MB 1.1 MB/s eta 0:00:15
    --------------------------------------- 0.3/15.4 MB 1.8 MB/s eta 0:00:09
   - -------------------------------------- 0.5/15.4 MB 2.4 MB/s eta 0:00:07
   -- ------------------------------------- 0.8/15.4 MB 3.1 MB/s eta 0:00:05
   -- ------------------------------------- 1.1/15.4 MB 3.6 MB/s eta 0:00:04
   --- ------------------------------------ 1.4/15.4 MB 4.2 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/15.4 MB 4.6 MB/s eta 0:00:03
   ----- ---------------------------------- 1.9/15.4 MB 4.4 MB/s eta 0:00:04
   ----- ---------------------------------- 2.1/15.4 MB 4.3 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/15.4 MB 4.8 MB/s eta 0:00:03
   -------- ------------------------------- 3.4/15.4 MB 5.8 MB/s eta 0:00:03
   ---------- ----------------------------- 4.0/15.4 MB 6.4 MB/s eta 0:00:02
   ----------- ---------------------------- 4.5/15.4 MB 6.8 MB/s eta 0:00:02
   -------------- ------------------------- 5.4/15.4 MB 7.5 MB/s eta 0:00:02
   ---------------- ----------------------- 6.2/15.4 MB 8.1 MB/s eta 0:00:02
   ----------------- ---------------------- 6.8/15.4 MB 8.4 MB/s eta 0:00:02
   ------------------- -------------------- 7.5/15.4 MB 8.6 MB/s eta 0:00:01
   --------------------- ------------------ 8.2/15.4 MB 8.9 MB/s eta 0:00:01
   ----------------------- ---------------- 9.0/15.4 MB 9.2 MB/s eta 0:00:01
   ------------------------- -------------- 9.8/15.4 MB 9.5 MB/s eta 0:00:01
   -------------------------- ------------- 10.3/15.4 MB 10.4 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.4 MB 11.9 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.4 MB 12.6 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.4 MB 14.6 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.4 MB 14.6 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.4 MB 14.2 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 14.6 MB/s eta 0:00:01
   -------------------------------------- - 15.0/15.4 MB 14.9 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 14.6 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 13.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------------------------- ------------ 41.0/61.0 kB 960.0 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 806.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hlakh\anaconda3\envs\projet_classification\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hlakh\anaconda3\envs\projet_classification\lib\site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hlakh\anaconda3\envs\projet_classification\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
    --------------------------------------- 0.2/11.6 MB 6.1 MB/s eta 0:00:02
   - -------------------------------------- 0.4/11.6 MB 6.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.7/11.6 MB 5.3 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/11.6 MB 5.5 MB/s eta 0:00:02
   ----- ---------------------------------- 1.5/11.6 MB 6.2 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/11.6 MB 6.4 MB/s eta 0:00:02
   ------- -------------------------------- 2.3/11.6 MB 6.9 MB/s eta 0:00:02
   --------- ------------------------------ 2.9/11.6 MB 7.6 MB/s eta 0:00:02
   ----------- ---------------------------- 3.3/11.6 MB 7.9 MB/s eta 0:00:02
   ------------- -------------------------- 4.0/11.6 MB 8.4 MB/s eta 0:00:01
   --------------- ------------------------ 4.4/11.6 MB 8.4 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.6 MB 8.9 MB/s eta 0:00:01
   ------------------- -------------------- 5.6/11.6 MB 9.1 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.6 MB 9.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.7/11.6 MB 9.5 MB/s eta 0:00:01
   ------------------------ --------------- 7.0/11.6 MB 9.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.5/11.6 MB 9.4 MB/s eta 0:00:01
   -------------------------- ------------- 7.8/11.6 MB 9.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.6 MB 9.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 9.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 9.5 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 9.6 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 11.3 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 10.7 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/15.8 MB 9.6 MB/s eta 0:00:02
   -- ------------------------------------- 1.1/15.8 MB 14.0 MB/s eta 0:00:02
   ---- ----------------------------------- 1.6/15.8 MB 13.0 MB/s eta 0:00:02
   ----- ---------------------------------- 2.3/15.8 MB 12.3 MB/s eta 0:00:02
   ------- -------------------------------- 3.0/15.8 MB 12.6 MB/s eta 0:00:02
   -------- ------------------------------- 3.5/15.8 MB 12.6 MB/s eta 0:00:01
   ---------- ----------------------------- 4.1/15.8 MB 13.1 MB/s eta 0:00:01
   ------------ --------------------------- 4.8/15.8 MB 12.6 MB/s eta 0:00:01
   ------------- -------------------------- 5.4/15.8 MB 12.8 MB/s eta 0:00:01
   --------------- ------------------------ 6.1/15.8 MB 13.0 MB/s eta 0:00:01
   ----------------- ---------------------- 6.8/15.8 MB 13.2 MB/s eta 0:00:01
   ------------------ --------------------- 7.5/15.8 MB 13.3 MB/s eta 0:00:01
   -------------------- ------------------- 8.0/15.8 MB 13.1 MB/s eta 0:00:01
   --------------------- ------------------ 8.5/15.8 MB 12.9 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.8 MB 13.1 MB/s eta 0:00:01
   ------------------------- -------------- 9.9/15.8 MB 13.2 MB/s eta 0:00:01
   -------------------------- ------------- 10.5/15.8 MB 13.4 MB/s eta 0:00:01
   --------------------------- ------------ 11.0/15.8 MB 13.1 MB/s eta 0:00:01
   ----------------------------- ---------- 11.8/15.8 MB 13.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.5/15.8 MB 13.6 MB/s eta 0:00:01
   --------------------------------- ------ 13.3/15.8 MB 13.6 MB/s eta 0:00:01
   ----------------------------------- ---- 14.1/15.8 MB 13.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.8 MB 13.4 MB/s eta 0:00:01
   ------------------------------------ --- 14.3/15.8 MB 12.6 MB/s eta 0:00:01
   ------------------------------------- -- 15.0/15.8 MB 12.8 MB/s eta 0:00:01
   ---------------------------------------  15.6/15.8 MB 12.8 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 12.8 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 12.1 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------  337.9/345.4 kB 10.2 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 7.1 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.0 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [11]:
# creation au prealable de la base de donnée Projet_Fraude
#DEBUT import des bibliotheques nécessaires
import mysql.connector as msql
import pandas as pd
from mysql.connector import Error
#FIN import des bibliotheques nécessaires

In [12]:
#DEBUT variable
msg="Problème de connexion MySQL"
xpass = 'Bilal2010?'
xroot = 'root'
#FIN variable

#DEBUT Creation bdd Projet_Fraude
try:
    conn = msql.connect(host='localhost', user=xroot, password=xpass)
    if conn.is_connected():
        cursor = conn.cursor()
        #record = cursor.fetchone()
        print("Vous êtes  sur MYSQL")
        cursor.execute('DROP DATABASE IF EXISTS projet_fraudedb;')
        cursor.execute("CREATE DATABASE projet_fraudedb")
        print("la base projet_Fraude est créee")
    cursor.close
    conn.close     
except Error as e:
    print(msg, e)
#FIN Creation bdd Projet_Fraude

Vous êtes  sur MYSQL
la base projet_Fraude est créee

In [13]:
#DEBUT Creation structure des tables  Typepaiment et Transaction_Fraud
try:
    conn = msql.connect(host='localhost', database='projet_fraudedb', user=xroot, password=xpass)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Vous êtes connecté à la base: ", record)
       
        cursor.execute('DROP TABLE IF EXISTS credit_card_fraud_corr;')
        cursor.execute('DROP TABLE IF EXISTS transaction_fraude;') #suppression dans cette ordre car clef etrangere
        cursor.execute('DROP TABLE IF EXISTS typepaiment;')

        print('Création de la table credit_card_fraud_corr en cours....')
        cursor.execute("CREATE TABLE credit_card_fraud_corr (transactionID INT, step INT, type VARCHAR(50),amount FLOAT,NameOrig VARCHAR(150),oldbalanceOrg FLOAT,newbalanceOrig FLOAT,nameDest VARCHAR(150),oldbalanceDest FLOAT,newbalanceDest FLOAT,IsFraud INT)")
        print("La table credit_card_fraud_corr est crée....")

        print('Création de la table typepaiment en cours....') #creer la table typepaiment en premier car clef etrangere référencé dans transaction_fraude
        cursor.execute("CREATE TABLE typepaiment(typeID INT, Libelle VARCHAR(150), PRIMARY KEY(typeID))")
        print("La table typepaiment est crée....")

        print('Création de la table transaction_fraude en cours....')
        cursor.execute("CREATE TABLE transaction_fraude (transactionID INT,step INT,amount FLOAT,NameOrig VARCHAR(150),oldbalanceOrg FLOAT,newbalanceOrig FLOAT,nameDest VARCHAR(150),oldbalanceDest FLOAT,newbalanceDest FLOAT,IsFraud INT,typeID INT NOT NULL,PRIMARY KEY(transactionID),FOREIGN KEY(typeID) REFERENCES typepaiment(typeID))")
        print("La table transaction_fraude est crée....")

except Error as e:
    print(msg, e)
#FIN Creation structure des tables Typepaiment et Transaction_Fraud


#print("La base de données a été créée avec succès.")

Vous êtes connecté à la base:  ('projet_fraudedb',)
Création de la table credit_card_fraud_corr en cours....
La table credit_card_fraud_corr est crée....
Création de la table typepaiment en cours....
La table typepaiment est crée....
Création de la table transaction_fraude en cours....
La table transaction_fraude est crée....

In [14]:
#DEBUT chargement de credit_card_fraud_corr.csv dans la table transaction_fraude
#transactionData = pd.read_csv('credit_card_fraud_corr.csv',index_col=False,delimiter=';')
transactionData = pd.read_csv('credit_card_fraud_corr.csv',index_col=False,delimiter=';')
transactionData['amount'] = transactionData['amount'].replace(',', '.', regex=True).astype(float)
transactionData['oldbalanceOrg'] = transactionData['oldbalanceOrg'].replace(',', '.', regex=True).astype(float)
transactionData['newbalanceOrig'] = transactionData['newbalanceOrig'].replace(',', '.', regex=True).astype(float)
transactionData['oldbalanceDest'] = transactionData['oldbalanceDest'].replace(',', '.', regex=True).astype(float)
transactionData['newbalanceDest'] = transactionData['newbalanceDest'].replace(',', '.', regex=True).astype(float)
#transactionData = pd.read_xls('transaction_fraude.xlsx', index_col=False)
# Remplacer les lettres 'c' dans la colonne 'nameOrig' par '1'
transactionData['nameOrig'] = transactionData['nameOrig'].str.replace('C', '1')

# Remplacer les lettres 'c' dans la colonne 'nameDest' par '1'
transactionData['nameDest'] = transactionData['nameDest'].str.replace('C', '1')

# Remplacer les lettres 'm' dans la colonne 'nameDest' par '2'
transactionData['nameDest'] = transactionData['nameDest'].str.replace('M', '2')

# Afficher les premières lignes du DataFrame pour vérifier les modifications
transactionData.head(10)

,transactionId,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,0,1,PAYMENT,9839.64,11231006815,170136.00,160296.36,21979787155,0.0,0.00,0
1,1,1,PAYMENT,1864.28,11666544295,21249.00,19384.72,22044282225,0.0,0.00,0
2,2,1,TRANSFER,181.00,11305486145,181.00,0.00,1553264065,0.0,0.00,1
3,3,1,CASH_OUT,181.00,1840083671,181.00,0.00,138997010,21182.0,0.00,1
4,4,1,PAYMENT,11668.14,12048537720,41554.00,29885.86,21230701703,0.0,0.00,0
5,5,1,PAYMENT,7817.71,190045638,53860.00,46042.29,2573487274,0.0,0.00,0
6,6,1,PAYMENT,7107.77,1154988899,183195.00,176087.23,2408069119,0.0,0.00,0
7,7,1,PAYMENT,7861.64,11912850431,176087.23,168225.59,2633326333,0.0,0.00,0
8,8,1,PAYMENT,4024.36,11265012928,2671.00,0.00,21176932104,0.0,0.00,0
9,9,1,DEBIT,5337.77,1712410124,41720.00,36382.23,1195600860,41898.0,40348.79,0

In [6]:

try:
    conn = msql.connect(host='localhost', database='projet_fraudedb', user=xroot, password=xpass)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Vous êtes connecté à la base: ", record)


        for i,row in transactionData.iterrows():
            
          
            sql = "INSERT INTO projet_fraudedb.credit_card_fraud_corr VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            conn.commit()
            
        print("les lignes de la dataframe (credit_card_fraud_corr.csv) ont été insérées dans la table credit_card_fraud_corr")

        cursor.execute("select * from projet_fraudedb.credit_card_fraud_corr limit 5")
        result=cursor.fetchall()
        print("Affichage des 5 premières lignes de la table credit_card_fraud_corr: ")
        for i in result:
            print(result)
        # Alimenter la table Typepaiement en sql (manuelllement) :

        cursor.execute("INSERT INTO typepaiement (typeID, Libelle) VALUES (1 , 'PAYMENT')")
        cursor.execute("INSERT INTO typepaiement (typeID, Libelle) VALUES (2 , 'TRANSFER')")
        cursor.execute("INSERT INTO typepaiement (typeID, Libelle) VALUES (3 , 'CASH_OUT')")
        cursor.execute("INSERT INTO typepaiement (typeID, Libelle) VALUES (4 , 'CASH_IN')")
        cursor.execute("INSERT INTO typepaiement (typeID, Libelle) VALUES (5 , 'DEBIT')")
        
        

        cursor.close
        conn.close       CASH_IN

except Error as e:
    print(msg, e)
#FIN chargement de credit_card_fraud_corr.csv dans la table transaction_fraude

Vous êtes connecté à la base:  ('projet_fraudedb',)
les lignes de la dataframe (credit_card_fraud_corr.csv) ont été insérées dans la table credit_card_fraud_corr
Affichage des 5 premières lignes de la table credit_card_fraud_corr:
[(0, 1, 'PAYMENT', 9839.64, 'C1231006815', 170136.0, 160296.0, 'M1979787155', 0.0, 0.0, 0), (1, 1, 'PAYMENT', 1864.28, 'C1666544295', 21249.0, 19384.7, 'M2044282225', 0.0, 0.0, 0), (2, 1, 'TRANSFER', 181.0, 'C1305486145', 181.0, 0.0, 'C553264065', 0.0, 0.0, 1), (3, 1, 'CASH_OUT', 181.0, 'C840083671', 181.0, 0.0, 'C38997010', 21182.0, 0.0, 1), (4, 1, 'PAYMENT', 11668.1, 'C2048537720', 41554.0, 29885.9, 'M1230701703', 0.0, 0.0, 0)]
[(0, 1, 'PAYMENT', 9839.64, 'C1231006815', 170136.0, 160296.0, 'M1979787155', 0.0, 0.0, 0), (1, 1, 'PAYMENT', 1864.28, 'C1666544295', 21249.0, 19384.7, 'M2044282225', 0.0, 0.0, 0), (2, 1, 'TRANSFER', 181.0, 'C1305486145', 181.0, 0.0, 'C553264065', 0.0, 0.0, 1), (3, 1, 'CASH_OUT', 181.0, 'C840083671', 181.0, 0.0, 'C38997010', 21182.0, 0.0, 1), (4, 1, 'PAYMENT', 11668.1, 'C2048537720', 41554.0, 29885.9, 'M1230701703', 0.0, 0.0, 0)]
[(0, 1, 'PAYMENT', 9839.64, 'C1231006815', 170136.0, 160296.0, 'M1979787155', 0.0, 0.0, 0), (1, 1, 'PAYMENT', 1864.28, 'C1666544295', 21249.0, 19384.7, 'M2044282225', 0.0, 0.0, 0), (2, 1, 'TRANSFER', 181.0, 'C1305486145', 181.0, 0.0, 'C553264065', 0.0, 0.0, 1), (3, 1, 'CASH_OUT', 181.0, 'C840083671', 181.0, 0.0, 'C38997010', 21182.0, 0.0, 1), (4, 1, 'PAYMENT', 11668.1, 'C2048537720', 41554.0, 29885.9, 'M1230701703', 0.0, 0.0, 0)]
[(0, 1, 'PAYMENT', 9839.64, 'C1231006815', 170136.0, 160296.0, 'M1979787155', 0.0, 0.0, 0), (1, 1, 'PAYMENT', 1864.28, 'C1666544295', 21249.0, 19384.7, 'M2044282225', 0.0, 0.0, 0), (2, 1, 'TRANSFER', 181.0, 'C1305486145', 181.0, 0.0, 'C553264065', 0.0, 0.0, 1), (3, 1, 'CASH_OUT', 181.0, 'C840083671', 181.0, 0.0, 'C38997010', 21182.0, 0.0, 1), (4, 1, 'PAYMENT', 11668.1, 'C2048537720', 41554.0, 29885.9, 'M1230701703', 0.0, 0.0, 0)]
[(0, 1, 'PAYMENT', 9839.64, 'C1231006815', 170136.0, 160296.0, 'M1979787155', 0.0, 0.0, 0), (1, 1, 'PAYMENT', 1864.28, 'C1666544295', 21249.0, 19384.7, 'M2044282225', 0.0, 0.0, 0), (2, 1, 'TRANSFER', 181.0, 'C1305486145', 181.0, 0.0, 'C553264065', 0.0, 0.0, 1), (3, 1, 'CASH_OUT', 181.0, 'C840083671', 181.0, 0.0, 'C38997010', 21182.0, 0.0, 1), (4, 1, 'PAYMENT', 11668.1, 'C2048537720', 41554.0, 29885.9, 'M1230701703', 0.0, 0.0, 0)]

In [20]:

try:
    conn = msql.connect(host='localhost', database='projet_fraudedb', user=xroot, password=xpass)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Vous êtes connecté à la base: ", record)
        cursor.execute("delete from typepaiment")
        cursor.execute("INSERT INTO typepaiment (typeID, Libelle) VALUES (1 , 'PAYMENT')")
        cursor.execute("INSERT INTO typepaiment (typeID, Libelle) VALUES (2 , 'TRANSFER')")
        cursor.execute("INSERT INTO typepaiment (typeID, Libelle) VALUES (3 , 'CASH_OUT')")
        cursor.execute("INSERT INTO typepaiment (typeID, Libelle) VALUES (4 , 'CASH_IN')")
        cursor.execute("INSERT INTO typepaiment (typeID, Libelle) VALUES (5 , 'DEBIT')")
        
        

        cursor.close
        conn.close       

except Error as e:
    print(msg, e)
#FIN chargement de credit_card_fraud_corr.csv dans la table transaction_fraude

Vous êtes connecté à la base:  ('projet_fraudedb',)